input,
textarea {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: 0.3s;
  font-weight: 500;
  width: 500px;
  max-width: 100%;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  &::placeholder {
    color: var(--accent-color);
  }
}

textarea:focus-visible {
  outline: none;
}
