.title--page {
  display: flex;
  height: 80px;
  align-items: center;
  margin-bottom: 15px;
  h1 {
    color: var(--black-text-color);
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
  }
  svg {
    color: var(--accent-color);
    width: 40px;
    height: 40px;
  }
}
