:root {
  --accent-color: #267afc;
  // --background-gray-color: #f5f5f5;
  --background-white-color: #ffffff;
  --gray-text-color: #7d8797;
  --background-gray-color: rgb(234, 240, 244);
  --black-text-color: rgb(39, 39, 39);
  --white-text-color: #ffffff;
  --gray--border-color: rgb(219, 219, 219);
}
